<div
  class="flex flex-wrap"
  [ngStyle]="{ 'margin-top': '6em', 'background-color': 'gray' }"
>
  <div
    [ngStyle]="{
      'text-align': 'end',
      width: '100%',
      'font-size': '30px',
      'margin-bottom': '1em'
    }"
  ></div>
  <div
    [ngStyle]="{
      display: 'flex',
      'flex-wrap': 'wrap',
      'justify-content': 'space-evenly',
      'text-align': 'center'
    }"
  >
    <app-card-bar-fav-films
      *ngFor="let FilmFav of listFavFilms"
      [film]="FilmFav"
    >
    </app-card-bar-fav-films>
  </div>
</div>
